@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.active {
  background: rgba(26, 188, 156);
  padding: 20px 10px;
  border-radius: 15px;
}
